<h1>{{ title }}</h1>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  
  <input
    type="email"
    required
    email
    #emailCtrl="ngModel"
    name="useremail"
    placeholder="Enter Email"
    ngModel
  />
  <br />

  <span *ngIf="emailCtrl.invalid && emailCtrl.touched" style="color: red">
    Please enter a valid email
  </span>

  <br /><br />

  <input
    type="password"
    name="password"
    minlength="2"
    required
    #passwordCtrl="ngModel"
    placeholder="Enter Password"
    ngModel
  />
  <br />

  <span *ngIf="passwordCtrl.invalid && passwordCtrl.touched" style="color: red">
    Please enter a valid password
  </span>

  <br /><br />

  <button type="submit" [disabled]="loginForm.invalid">Login</button>

</form>
